
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Employee" asp-action="Test">

    <input type="text"  name="a"/>
    <br />
     <input type="text"  name="b"/>
    <br />
    <input type="submit" />
</form>

